<div class="container">
  <div class="row">
  	<div class="col-md-12">
  		<div class="pull-right">
  			<button type="button" class="btn btn-success btn-sm" [routerLink]="['/users/new']">New User</button>
  		</div>
  	</div>
  </div>

  <table class="table stiped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.role}}</td>
        <td><button class="btn btn-sm btn-primary" [routerLink]="['/users/edit/', user.id]" >EDIT<i class=""></i></button> | <button class="btn btn-sm btn-danger" (click)="onDeleteUser(user)">DELETE</button></td>
      </tr>
    </tbody>
  </table>
</div>